body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Cabeçalho */
header {
    background-color: #c10000;
    color: white;
    padding: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

/* Título */
h1 {
    text-align: left;
    margin-bottom: 20px;
    color: #c10000;
}

/* Container do produto */
.produto-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 20px;
}

.comentarios, .detalhes {
    flex: 1;
    min-width: 200px;
}

.imagem-produto {
    flex: 1;
    text-align: center;
    min-width: 200px;
}

.imagem-produto img {
    max-width: 70%;
    height: auto;
    border: 1px solid #c10000;
    padding: 10px;
}

.comentario {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

/* Preço */
.preco {
    font-size: 24px;
    color: #c10000;
    margin: 10px 0;
}

/* Botão */
.botao-comprar {
    background-color: #c10000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.botao-comprar:hover {
    background-color: #a00000;
}
